<div class="col-md-8 col-xs-12">
	<button style="width:100%;margin-bottom:10px;margin-top:10px" class="btn btn-primary" type="submit" ng-click="followme()">{{followtext}}</button>
	<div class="panel panel-default" style="box-shadow:1px 1px 10px grey;width:100%;border-radius:5px">
		<div class="panel-heading"><h3 style="display:inline">About Me</h3></div>
		<div class="panel-body">{{aboutme}}</div>
	</div>
	<div class="panel panel-default" style="box-shadow:1px 1px 10px grey;width:100%;border-radius:5px" >
		<div class="panel-heading"><h3 style="display:inline">Personal Info</h3></div>
		<div class="panel-body">
			<table class="table table-profile">
				<tbody>
					<tr>
						<td>First Name:</td>
						<td class="profile-info">{{first_name}}</td>
					</tr>
					<tr>
						<td>Last Name:</td>
						<td class="profile-info">{{last_name}}</td>
					</tr>
					<tr>
						<td>Gender</td>
						<td class="profile-info">{{gender}}</td>
					</tr>
					<tr>
						<td>Date of Birth</td>
						<td class="profile-info">
						<input type="text" class="form-control" name="dob" value="{{dob}}" disabled></td>
					</tr>
					<tr>
						<td>Interest</td>
						<td class="profile-info"></td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>
