<div class="box col-md-9">
    <div infinite-scroll="loadMoreStories()" infinite-scroll-distance='0'>
    <div class="panel panel-default" id="topic-box" ng-repeat="object in storyObjects" style="box-shadow:1px 1px 5px grey;width:100%;border-radius:3px;margin-bottom:25px;">
                <div class="panel-heading" ng-init="like=0">
                    <ul class="nav nav-pills" style="font-family:Lucida Sans Unicode">
                    <li><img class="img-circle" src="" alt="image" style="height:50px;width:50px" >
                    </li>
                    <a href="#/person/{{object.user_id}}"><li>{{object.name}}<br>{{object.time}}</li></a>
                    <li>
                    <div class="text-center" style="width:180px;font-weight:bold">{{object.topic}}</div>
                    </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div ng-if="showDesc">{{object.description}}</div>
                    <div ng-if="!showDesc">{{object.content}}</div>
                </div>
                <div class="panel-footer">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group" role="group">
                            <a><button type="button" class="btn btn-default" id="read-more" ng-click="showDesc=!showDesc" ng-init="showDesc=1">
                                            <div ng-if="showDesc">Read Compelete Stroy</div>
                                            <div ng-if="!showDesc">Less</div>
                                        </button></a>
                        </div>
                    </ul>
                </div>
                <div ng-if="!showDesc">
                    <ul class="nav nav-pills" style="display:inline">
                    <li style="display:inline" pg-like-check><a href=""><div ng-if="like==0">Likes</div><div ng-if="like==1">Dislikes </div></a>
                    </li>
                    <li style="display:inline"><a href="">Comment</a>
                    </li>
                </div>
        </div>
    </div>
</div>
